{% extends 'base.html.twig' %} {% block body %} {% set summe = 0 %}

<br />
<div class="container">
  <h2>Ihre Bestellungen</h2>
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Bestell Nr.</td>
        <td>Name</td>
        <td>Preis</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      {% for bestellung in bestellungen %} {% set summe = summe +
      bestellung.preis %}
      <tr>
        <td>{{ bestellung.bnummer }}</td>
        <td>{{ bestellung.name }}</td>
        <td>{{ bestellung.preis }}</td>
        <td>{{ bestellung.status }}</td>
      </tr>
      {%endfor%}
      <td></td>
      <td></td>
      <td>{{ summe }} EUR</td>
      <td></td>
    </tbody>
  </table>
</div>

{% endblock %}
